{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">oh-my-zsh</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>crearo</span><span class="at">@</span><span
                                class="path">/home/quan/</span>><span class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Quan</p>
            <p class="text-title desktop-view">Hua</p>
            <p class="text-title mobile-view">Quan Hua</p>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/zippieq">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/hua-chi-quan/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com/bhardwaj_quan">
                    <img class="title-logo" src="static/images/twitter.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/quanbhardwaj/">
                    <img class="title-logo" src="static/images/insta.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">I'm an experienced software engineer who works for FPT software. The current project that I am involved in is an outsourcing development from a French client of FPT.
                </p>
            <p class="text-content">
                My work consists of meeting with clients to determine their software needs, coding and testing software to ensure functionality and updating software programs to adapt to the market. I'm also responsible for reviewing junior developer tasks and coaching them about technical skills and agile mindset. 
                In my five years in this industry, I've honed my analytical thinking and collaboration skills and I love working with a team. I am also passionate about writing high quality code by applying best practices that I have learned from books of software development influencers. It's appreciated by the customer because it helps them avoid critical issues of the system from the early stage.
                So I thought I'm ready for the next level of my career: becoming a global software engineer. The top tier IT companies like shopee, google, facebook required talent skills in algorithm, problem solving and their tech stacks. However in return you will receive a decent salary and have the opportunity to work with the best programmers and build products that change the world. I’m really excited about the changing speed of technology nowadays and really want to be a part of it.</p>

            <p class="text-content">I studied computer science at <a href="http://www.daiict.ac.in/daiict/index.html">FPT</a>.
            </p>

            <p class="text-content">You can find me on <a href="http://www.linkedin.com/in/hua-chi-quan/">LinkedIn</a>,
                or email me <a href="mailto:zippieq@gmail.com?Subject=Hello%20Quan%20-from-website" target="_top">here</a>.
            </p>

            <p class="text-content">Let's get in touch!</p>

            <p class="text-content">Quan Hua</p>

            <p class="text-content"><a href="timeline">For more about me, my timeline, read on here.</a></p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
